[自定义aggregation function](#Customizing an aggregation function) 

[多参数的自定义 agg funcs](#Customizing aggregating functions with **kwargs and *args)

[闭包：混用内建函数和自定义函数](#解决方法是，先定义一个函数的函数——closure（闭包）——一个嵌套函数的特殊类型)

In [1]:
import pandas as pd
import numpy as np

In [3]:
flights = pd.read_csv('../data/flights.csv')
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

# Customizing an aggregation function

In [22]:
college = pd.read_csv('../data/college.csv')
college.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [59]:
# 求与均值距离的标准差个数最大是多少
def max_deviation(s): # √ 参数s 是整列 column(Seires)
    std_score = (s - s.mean()) / s.std()
    return std_score.abs().max()

In [61]:
college.groupby('STABBR')['UGDS'] \
       .agg(max_deviation) \ # 直接传入函数
       .round(1) \
       .head()

STABBR
AK    2.6
AL    5.8
AR    6.3
AS    NaN
AZ    9.9
Name: UGDS, dtype: float64

In [84]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS', 'SATVRMID', 'SATMTMID']\
       .agg([max_deviation, 'mean', 'std'])\ # 调用多个聚合函数
       .round(1).head()

                         UGDS                      SATVRMID               \
                max_deviation    mean     std max_deviation   mean   std
STABBR RELAFFIL
AK     0                  2.1  3508.9  4539.5           NaN    NaN   NaN
       1                  1.1   123.3   132.9           NaN  555.0   NaN
AL     0                  5.2  3248.8  5102.4           1.6  514.9  56.5
       1                  2.4   979.7   870.8           1.5  498.0  53.0
AR     0                  5.8  1793.7  3401.6           1.9  481.1  37.9

                     SATMTMID
                max_deviation   mean   std
STABBR RELAFFIL
AK     0                  NaN    NaN   NaN
       1                  NaN  503.0   NaN
AL     0                  1.7  515.8  56.7
       1                  1.4  485.6  61.4
AR     0                  2.0  503.6  39.0

### 可以修改列名

In [77]:
max_deviation.__name__

'max_deviation'

In [85]:
max_deviation.__name__ = 'Max Deviation'

In [86]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS', 'SATVRMID', 'SATMTMID']\
       .agg([max_deviation, 'mean', 'std']).round(1).head()

                         UGDS                      SATVRMID               \
                Max Deviation    mean     std Max Deviation   mean   std
STABBR RELAFFIL
AK     0                  2.1  3508.9  4539.5           NaN    NaN   NaN
       1                  1.1   123.3   132.9           NaN  555.0   NaN
AL     0                  5.2  3248.8  5102.4           1.6  514.9  56.5
       1                  2.4   979.7   870.8           1.5  498.0  53.0
AR     0                  5.8  1793.7  3401.6           1.9  481.1  37.9

                     SATMTMID
                Max Deviation   mean   std
STABBR RELAFFIL
AK     0                  NaN    NaN   NaN
       1                  NaN  503.0   NaN
AL     0                  1.7  515.8  56.7
       1                  1.4  485.6  61.4
AR     0                  2.0  503.6  39.0

# Customizing aggregating functions with \*\*kwargs and \*args
如果自定义的agg function 需要传入其它参数值：

In [96]:
grouped = college.groupby(['STABBR', 'RELAFFIL'])

In [105]:
def pct_between(s, low, high):
    return s.between(low, high).mean()

In [111]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS'].agg(pct_between, 1000, 10000).head(9)

STABBR  RELAFFIL
AK      0           0.428571
        1           0.000000
AL      0           0.458333
        1           0.375000
AR      0           0.397059
        1           0.166667
AS      0           1.000000
AZ      0           0.233871
        1           0.111111
Name: UGDS, dtype: float64

In [118]:
# 可以混用non-keyword 和 keyword arguments，只要 keyword arguments 放在最后
college.groupby(['STABBR', 'RELAFFIL'])['UGDS'].agg(pct_between, 1000, high=10000).head(9)

STABBR  RELAFFIL
AK      0           0.428571
        1           0.000000
AL      0           0.458333
        1           0.375000
AR      0           0.397059
        1           0.166667
AS      0           1.000000
AZ      0           0.233871
        1           0.111111
Name: UGDS, dtype: float64

**严格来说，当调用agg，所有的non-keyword arguments 被归为一个名叫args的tuple，名叫args; 所有keyword arguments 被归为一个名叫kargs的字典**

## There's more...
但Pandsa不支持【自定义的关键字参数函数】 与内建函数混用：

In [176]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS'].agg(['mean', pct_between], low=100, high=1000)

TypeError: pct_between() missing 2 required positional arguments: 'low' and 'high'

### 解决方法是，先定义一个函数的函数——closure（闭包）——一个嵌套函数的特殊类型

In [195]:
def make_agg_func(func, name, *args, **kwargs):
    def wrapper(x):
        return func(x, *args, **kwargs)
    wrapper.__name__ = name     # name 参数非常重要，必须唯一。最终它将用于重命名 aggregation column
    return wrapper

my_agg1 = make_agg_func(pct_between, 'pct_1_3k', low=1000, high=3000)
my_agg2 = make_agg_func(pct_between, 'pct_10_30k', 10000, 30000)

# make_agg_func 就像一个工厂一样生成自定义的aggregation functions。它接受一个多参数的自定义函数，再封装成另一个函数返回。

In [196]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS'].agg(['mean', my_agg1, my_agg2]).head()

                        mean  pct_1_3k  pct_10_30k
STABBR RELAFFIL
AK     0         3508.857143  0.142857    0.142857
       1          123.333333  0.000000    0.000000
AL     0         3248.774648  0.236111    0.083333
       1          979.722222  0.333333    0.000000
AR     0         1793.691176  0.279412    0.014706